<h1>Here's list</h1>


<% @tasks.each do |task| %>
<%= form_for(task) do |f| %>
  <%= f.label task.title %>


  <%= f.check_box :completed%>

  <%= link_to "details", task_path(task), method: :get%><%= button_to "delete", task_path(task), method: :delete%>
<% end %>
<% end %>

<h2><%= link_to "create new", tasks_new_path, method: :get%></h2>
